<div class="searchBox">
    <input type="text" class="searchInput"placeholder="search book from Library" [(ngModel)]="searchItem"(change)="search()">
    <button (click)="search()" class="searchButton">Search book</button>
</div>


<!-- <div class="searchBox">
    <form action="/search?">
       <input class="searchInput" type="search" name="q" placeholder="Search">
       <button class="searchButton" type="submit">
       <i class="material-icons">
       search
       </i>
       </button>
    </form>
    </div> -->